<launch>

  <node pkg="hardware_node" type="bno08x_node" name="bno08x_node"  output="screen">
  </node>
  <!-- <node pkg="hardware_node" type="ina219_node" name="ina219_node"  output="screen">
  </node>
  <node pkg="hardware_node" type="servokit16_node" name="servokit16_node"  output="screen">
  </node> -->
  <node pkg="hardware_node" type="mic_array_node" name="mic_array_node"  output="screen">
  </node>
</launch>
